
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@model NET_MVC_Application.Models.Account
<div>
    @using (Html.BeginForm("Register", "Acca", FormMethod.Post))
    {
        <div>

            Naam
            @Html.TextBoxFor(m => Model.Naam) <br />
            Opleiding
            @Html.TextBoxFor(m => Model.Opleiding) <br />
            Profielnaam
            @Html.TextBoxFor(m => Model.ProfielNaam) <br />
            Wachtwoord
            @Html.PasswordFor(m => Model.Wachtwoord) <br />
            Geslacht
            @{
                List<SelectListItem> items = new List<SelectListItem>();
                items.Add(new SelectListItem { Text = "Male", Value = "M" });
                items.Add(new SelectListItem { Text = "Female", Value = "F" });
                @Html.DropDownList("Geslacht", items); <br />
            }
            
            Woonplaats
            @Html.TextBoxFor(m => Model.Woonplaats) <br/>
            <button type="submit">Register</button>


        </div>
                }

</div>