@using System.Web.Mvc.Html
@using NET_MVC_Application.Models

@{
    ViewBag.Title = "GetWishList";
}
@model TweakersRemake.Models.ProductViewModel
<h2>GetWishList</h2>



        @foreach (Product p in Model.Products)
            {
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm("Prijzen", "Product", FormMethod.Get))
                    {
                        Product Pro = new Product();
                        Pro = p;

                        @Html.Hidden("Id", Pro.Id)
                        @Html.Hidden("Naam", Pro.Naam)
                        @Html.Hidden("Categorie", Pro.Categorie)
                        @Html.Label("Naam", Pro.Naam) <strong> : </strong>
                        @Html.Label("Categorie", Pro.Categorie)
                        <br/>
                        <button type="submit">Prijzen</button>





                    }
                    @using (Html.BeginForm("ProductReview", "Review", FormMethod.Get))
                    {
                    @Html.Hidden("Id", p.Id)
                    @Html.Hidden("Naam", p.Naam)
                    @Html.Hidden("Categorie", p.Categorie)
                    <button type="submit">Reviews</button>
                    }
                    @using (Html.BeginForm("RemoveProduct", "Product", FormMethod.Post))
                    {
                    @Html.Hidden("Id", p.Id)
                    @Html.Hidden("Naam", p.Naam)
                    @Html.Hidden("Categorie", p.Categorie)
                    if (Model.Wenslijst.Count != -1)
                    {
                    @Html.Hidden("Wenslijst", Model.Wenslijst[0].Id)


                    }

                    <button type="submit">Remove</button>
                    }


                </div>
            </div>


        }
