
@{
    ViewBag.Title = "Prijzen";
}
@using NET_MVC_Application.Models
@model NET_MVC_Application.Models.Product
<h2>Prijzen</h2>

<div>
   <strong>@Html.DisplayFor(p => Model.Naam)</strong> :
    @Html.DisplayFor(p => Model.Categorie)


</div>
<div>
     @foreach (Product_Link Pr in Model.Links)
     {
        <div>
            using (Html.BeginForm())
            {
            @Html.HiddenFor(m => Pr.Uitgever.Id);
            @Html.DisplayFor(m => Pr.Uitgever.Naam);<br />
            @Html.DisplayFor(m => Pr.Prijs);<br />
            @Html.DisplayFor(m => Pr.Levertijd);
        </div>
     }
     }
</div>

