
@{
    ViewBag.Title = "GetConversation";
}
@using NET_MVC_Application.Models
@using TweakersRemake.Models
@model  TweakersRemake.Models.Mappy
<h2>GetConversation</h2>

<div>
    @if (Model.posts.Count != 0)
    {
        <strong>@Model.posts[0].Onderwerp</strong>
    }

    @foreach (Post p in Model.posts)
    {
        <div>
            @Html.ActionLink(p.From.Naam, "Index", "Account", new {p.From.Id},null)<br/>
            @p.Message
            @if (User.Identity.Name == p.From.ProfielNaam)
            {
                using (Html.BeginForm("DeletePost", "Forum", FormMethod.Post))
                {

                    @Html.Hidden("idee", p.Id)
                    <button type="submit">Delete</button>
  
                }
            }
        </div>
    }

    @using (Html.BeginForm("PostPost", "Forum", FormMethod.Post))
    {
        Model.posts.Reverse();
        @Html.TextArea("Message")
        if (Model != null)
        {
            @Html.Hidden("Mappy", Model.Id)
           
            if (Model.posts.Count != 0)
            {
               @Html.Hidden("Prepost", Model.posts[0].Id)
               @Html.Hidden("Onderwerp", Model.posts[0].Onderwerp)
            }

            <button type="submit">Post</button>
        }
    }


</div>

