
@{
    ViewBag.Title = "GetPosts";
}

<h2>GetPosts</h2>
@using NET_MVC_Application.Models
@model TweakersRemake.Models.Mappy
<div>
   
  


    @foreach (Post p in Model.posts)
    {
        <div>
            @Html.ActionLink(p.Onderwerp, "GetConversation", new {p.Onderwerp, Model.Id})
            @if (User.Identity.Name == p.From.ProfielNaam)
            {
                using (Html.BeginForm("DeleteChainPost", "Forum", FormMethod.Post))
                 {
                    @Html.Hidden("Id", Model.Id)
                    @Html.Hidden("Onderwerp", p.Onderwerp)
                     <button type="submit">Delete</button>

                 }
            }

        </div>


    }
    <br/>
    <div>
        @using (Html.BeginForm("Post", "Forum", FormMethod.Post))
        {

            @Html.TextBox("Onderwerp")<br />
            @Html.TextArea("Message")<br />
            @Html.Hidden("Idee", Model.Id)
            <button type="submit">Post</button>

        }

    </div>




    </div>
