@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Acca", FormMethod.Get))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Acca", routeValues: null, htmlAttributes: new {title = "Manage"})

        </li>
        
        <li>@Html.ActionLink("Logout", "Logout", "Acca")</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Acca", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Acca", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
